[Desktop Entry]
Type=Application
Name=Waxlight Launcher
Comment=Unofficial launcher for Vintage Story
Exec=waxlight %u
Icon=com.waxlight.launcher
Terminal=false
Categories=Game;
StartupNotify=true
StartupWMClass=waxlight
MimeType=x-scheme-handler/waxlight;
